body
{
    margin: 0px;
    padding: 0px;
    background-color: #f7f7fa;
}


.index-map
{
    margin-bottom: 10px;
}

.map
{
    height: 500px;
    margin-bottom: 10px;
}

.div_label_user
{
    display: inline-block;
    width: 200px;
}

.user-info
{
      color: inherit;
      background-color: #eee;
      margin-bottom: 10px;
}