<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="body">
            <div class="left-side_panel">
                @RenderBody()
            </div>
            <div class="right-side_panel">
                <table>
                    <tr>
                        <td><form action="/Home/Index"><button type="submit"><img src="" alt="Профиль" /></button></form></td>
                    </tr>
                    <tr>
                        <td><button><img src="" alt="Чат" /></button></td>
                    </tr>
                    <tr>
                        <td><form action="/CampPlaces/Index"><button type="submit"><img src="" alt="Места отдыха" /></button></form></td>
                    </tr>
                    <tr>
                        <td><form action="/Groups/Groups"><button type="submit"><img src="" alt="Группы" /></button></form></td>
                    </tr>
                    <tr>
                        <td><button><img src="" alt="Настройки" /></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
