<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CampNetwork</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2 sidebar-offcanvas" role="navigation">
                <div class="list-group">
                    <a class="list-group-item active" href="/Home/Index">Профиль</a>
                    <a class="list-group-item" href="/Dialog/Index">Диалоги</a>
                    <a class="list-group-item" href="/CampPlaces/Index">Места отдыха</a>
                    <a class="list-group-item" href="/Groups/Index">Группы</a>
                    <a class="list-group-item" href="/User/Index">Настройки</a>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
